body{
    padding: 40px 40px 0px 55px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: linear-gradient(#c2c7c6,#c9eeec);
    height: 25000px;
}
header {
    position: sticky;
    top: 0;
    background-image: linear-gradient(blue,purple);

}
.name{
    font-size: 30px;
    padding-bottom: 15px;
    font-weight: bolder;
    float:left;
}
.name h1 {
    padding-bottom: 20px;
}
.name p{
    color:#99860e;
}
nav {
    font-size: 30px;
    float:right;
    padding: 15px;
}
nav ul li {
    display: inline-block;
    padding: 5px 15px;
    text-decoration: none;
}