*{
    color: black;
}
body{
    padding: 45px 75px 75px;
}
#main-background{
    background-image: linear-gradient(#c2c7c6,#c9eeec);
}
.description{
    width: 100%;
}
.name{
font-family: "Comic Sans MS", cursive, sans-serif;
color:#423a38;
font-weight: bolder;
font-size: 30px;
margin-bottom: 17px;
width:auto;
}
.subName{
color:#99860e;
font-family: "Comic Sans MS", cursive, sans-serif;
font-weight: bolder;
font-size: 30px;
margin-bottom: 17px;
width:auto;
}
nav ul{
    float:right;
}
#about > * {
    padding-top: 10px;
}

/* h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
    border: 10px groove lightblue;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;

}


#about {
    background-color: aqua;
    border: 1px solid gray;
    margin: 15px 2% 5px 2%;
    padding: 10px;
}
footer {
    background-color: darkslategrey;
    color: white;
    padding: 20px;
    text-align: center;
} */