*{
    background-color: blanchedalmond;
}
h1{
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    background-color: cadetblue;
    margin: 10px;
    padding: 10px;
    border: 10px groove lightblue;
    font-style: italic;
    font-size: 40px;
    font-weight: bold;

}


.bio {
    background-color: aqua;
    border: 1px solid gray;
    margin: 15px 2% 5px 2%;
    padding: 10px;
}
footer {
    background-color: darkslategrey;
    color: white;
    padding: 20px;
    text-align: center;
}