body{
    font-family: "Comic Sans MS", cursive, sans-serif;
    background-image: linear-gradient(#c2c7c6,#c9eeec);
    line-height: 25px;
}
main{
    min-height: calc(100vh - 115px - 45px);
}
header {
    padding: 20px 40px 95px 55px;
    position: sticky;
    top: 0;
    background-image: linear-gradient(rgb(171, 171, 187),rgb(114, 112, 114));
}
nav ul li {
    display: inline-block;
    padding-top: 25px;
    font-size: 25px;
}
nav ul li a{
    text-decoration: none;
    padding: 0px 15px;
    color: #423a38;
    font-weight: bolder;
}
nav ul li a:hover{
    color: rgb(124, 105, 105);
}
.name{
    float: left;
    font-size: 25px;
    font-weight: bolder;
    line-height: 30px;
}
.name h1{
    color: #423a38;
    padding-bottom: 20px;
}
.name p{
    color:#72640b;
}
nav {
    float:right;
}
.center {
    text-align: center;
}
h2{
    font-size: 25px;
    font-weight: bolder;
    color:rgb(66, 66, 66);
    padding: 25px 0;
    text-decoration: underline;
    text-align: center;
}

#about p{
    padding: 20px 50px;
    font-size: 20px;
    color: #2f3f4e;
    text-align: justify;
}
#about p a{
    text-decoration: none;
    color: #2f3f4e;
    font-weight: bolder;
}
#about p a:hover{
    color: rgb(124, 105, 105);
}
h3 {
    padding: 20px 40px;
    font-size: 20px;
    text-decoration: underline;
}
#education p{
    padding: 20px 30px;
    font-size: 20px;
    color: rgb(112, 104, 88);
    text-align: justify;
}
#education ul li{
    list-style-type: disc;
    margin-left: 80px;
}

footer{
    text-align: center;
    padding: 20px 40px 25px 55px;
    background-image: linear-gradient(rgb(114, 112, 114),rgb(171, 171, 187));
}
footer a{
    text-decoration: none;
    color: #2f3f4e;
    font-weight: bolder;
}
footer a:hover{
    color: rgb(124, 105, 105);
}
.games, ol{
    margin: 25px;
}
ol li{
    list-style-type: upper-roman;
}
.hobbies-title{
    text-align: left;
    font-size: 20px;
    color: #2f3f4e;
    padding-left: 50px;
}

.hobbies{
    color: #2f3f4e;
    display:inline-block;
    font-weight: bold;
    width: 300px;
    text-align: center;
    margin:20px;
    margin-left: 60px;
    padding:40px;
}
